<% layout('layouts/boilerplate')%>


<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      <main class="px-3">
          <h1>Job Board</h1>
          <p class="lead"> Welcome to our job board! </p>
          <a href="/jobs" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
              Jobs</a>
      </main>

  </div>

  <p>
    <form action="/jobs" method="GET" class="form-inline">
        <div class="">
            <input type="test" name="search" placeholder="Job search..." class="form-contro">
            <input type="submit" value="Search" class="btn btn-info">
        </div>
    </form>
</p>


 
</body>
