<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Job</h1>
    <div class="col-6 offset-3">
        <form action="/jobs" method = "POST">
            <div class="mb-4">
                <label class="form-label" for = "title">Job Title</label>
                <input class="form-control" type="text" id = "title" name = "job[title]">
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "company">Company Name</label>
                <input class="form-control"  type="text" id = "company" name = "job[company]">
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "location">Location</label>
                <input class="form-control"  type="text" id = "location" name = "job[location]">
            </div>

            <div class="mb-4">
                <label class="form-label" for = "logo">company logo</label>
                <input class="form-control"  type="text" id = "logo" name = "job[logo]">
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "Contact Email">Contact Email</label>
                <input class="form-control"  type="text" id = "email" name = "job[email]">
            </divclass="mb-4>
    
            <div class="mb-4">
                <label class="form-label" for = "Job description">Job Description</label>
                <textarea class="form-control" type="text" id = "description" name = "job[description]"></textarea>
            </div>
    
            
    
          
            <button class="btn btn-success">Post This Job</button>
        </form>
    </div>
</div>

    
    
