<% layout('layouts/boilerplate')%>
    <form action="/jobs" method = "POST">
        <div>
            <label for = "title">Job Title</label>
            <input type="text" id = "title" name = "job[title]">
        </div>

        <div>
            <label for = "company">Company Name</label>
            <input type="text" id = "company" name = "job[company]">
        </div>

        <div>
            <label for = "location">Location</label>
            <input type="text" id = "location" name = "job[location]">
        </div>

        <div>
            <label for = "Contact Email">Contact Email</label>
            <input type="text" id = "email" name = "job[email]">
        </div>

        <div>
            <label for = "Job description">Job Description</label>
            <input type="text" id = "description" name = "job[description]">
        </div>

        

      
        <button>Post This Job</button>
    </form>
    <a href="/jobs">All jobs</a>
