<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Job</h1>
    <div class="col-6 offset-3">
        <form action="/jobs" method = "POST" novalidate class="validated-form">
            <div class="mb-4">
                <label class="form-label" for = "title">Job Title</label>
                <input class="form-control" type="text" id = "title" name = "job[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "company">Company Name</label>
                <input class="form-control"  type="text" id = "company" name = "job[company]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "location">Location</label>
                <input class="form-control"  type="text" id = "location" name = "job[location]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-4">
                <label class="form-label" for = "logo">company logo</label>
                <input class="form-control"  type="text" id = "logo" name = "job[logo]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "Contact Email">Contact Email</label>
                <input class="form-control"  type="text" id = "email" name = "job[email]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-4">
                <label class="form-label" for = "Website">Website(optional)</label>
                <input class="form-control"  type="text" id = "website" name = "job[website]">
                <div class="valid-feedback">Looks good!</div>
            </div>
    
            <div class="mb-4">
                <label class="form-label" for = "Job description">Job Description</label>
                <textarea class="form-control" type="text" id = "description" name = "job[description]" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
    
          
            <button class="btn btn-success">Post This Job</button>
        </form>
    </div>
</div>


    
    
