<% layout('layouts/boilerplate')%>
<h1>favritoe</h1>

<% if(favJobs) { %> 
<% for (let job of favJobs) { %> 
    <div class="card" mb-3>
       <div class="row">
           <div class="col-md-4">
               <%= job.company%>
           </div>
           <div class="col-mg-8">
               <div class="card-body">
                   <h4 class="card-title content-center">
                       <%= job.title%>
                   </h4>
                   <p class="card-text">
                       <%= job.location%>
                   </p>
                   <a class="btn btn-primary" href="jobs/<%=job._id%>"> View this job</a>


               </div>
           </div>
       </div>
   </div> 
<% } %>
<% } %>
 
